services:
  - type: web
    name: generatecurriculo
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GROQ_API_KEY
        sync: false
    disk:
      name: uploads-data
      mountPath: /opt/render/project/src/uploads
      sizeGB: 1
